{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before submitting this claim
      </h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your workplace
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nurseryName'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-school">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employee name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['firstName'] }} {{ data['middleName'] }} {{ data['lastName'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/claimant-name">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employee start date
              </dt>
              <dd class="govuk-summary-list__value" id="startDate"></dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/start-date">Change<span class="govuk-visually-hidden"> customer reference</span></a>
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employee email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['employeeEmail'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/employee-email">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employer's PAYE reference number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['employeeNino'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/employee-nino">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">Before submitting this application</h2>
        <p class="govuk-body">By submitting this application you are confirming that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>to the best of your knowledge, the details you are providing are correct</li>
            <li>you have collected written consent on behalf of your employee</li>
          </ul>
        </ul>

        <form action="/confirmation" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
      </form>

    </div>
  </div>

  <script>
    // Retrieve start date from session storage
    const startDateString = sessionStorage.getItem('startDate');
    if (startDateString) {
      const startDate = new Date(startDateString);
      const options = { day: 'numeric', month: 'long', year: 'numeric' };
      const formattedStartDate = startDate.toLocaleDateString('en-GB', options);
      document.getElementById('startDate').textContent = formattedStartDate;
    }
  </script>

{% endblock %}
