{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form class="form" action="/returner-A" method="post" onsubmit="return validateForm()">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="checkbox-group">
        <fieldset class="govuk-fieldset" aria-describedby="declaration-A-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              I confirm that at least 70% of {{ data['firstName'] }}’s time is spent working directly with children
            </h1>
          </legend>
          <div id="declaration-A-hint" class="govuk-hint">
            This role must involve working directly with children at least 70% of the time to be eligible for an incentive payment.
          </div>
          <p id="declaration-A-error" class="govuk-error-message" style="display: none;">
            <span class="govuk-visually-hidden">Error:</span> Please confirm that at least 70% of the time is spent working directly with children.
          </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="declaration-A" name="declarationA" type="checkbox" value="confirmed">
              <label class="govuk-label govuk-checkboxes__label" for="declaration-A">
                I confirm
              </label>
            </div>
          </div>
        </fieldset>
      </div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I cannot confirm this information
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3>You must be able to confirm this information before you can continue</h3>
    <p class="govuk-body">To continue with this claim you must be able to confirm that:</p>
<ul class="govuk-list govuk-list--bullet">
<li>this role is at least 70% child-facing</li>
<li>your employee did not work in any early years roles in the 6 months before starting their current role</li>
</ul>
</div>
If you think you’ve made a mistake, you should check the information you’ve provided and start again.
contact ops team...?
  </div>
</details>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      </form>

    </div>
  </div>

  <script>
    function validateForm() {
      var checkBox = document.getElementById("declaration-A");
      var errorParagraph = document.getElementById("declaration-A-error");
      if (!checkBox.checked) {
        errorParagraph.style.display = "block";
        document.getElementById("checkbox-group").classList.add("govuk-form-group--error");
        return false;
      }
      return true;
    }
  </script>
  

  <script>
    document.querySelector('form.form').addEventListener('submit', function(event) {
      // Prevent default form submission behavior
      event.preventDefault();
  
      // Check if the checkbox is checked
      var checkBox = document.getElementById("declaration-A");
      if (!checkBox.checked) {

        return false; // Prevent redirection
      }
  
      // Randomly choose between /returner-A and /returner-B
      const nextPage = Math.random() < 0.5 ? '/returner-A' : '/returner-B';
      // Redirect to the randomly chosen page
      window.location.href = nextPage;
    });
  </script>
  


{% endblock %}
