{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form class="form" action="/test" method="post" onsubmit="return validateForm()">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="checkbox-group">
        <fieldset class="govuk-fieldset" aria-describedby="declaration-B-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Does {{ data['firstName'] }} spend most of their time at work working directly with children?
            </h1>
          </legend>
  <div id="child-facing-B-hint" class="govuk-hint">
    {{ data ['firstName'] }}’s job must involve spending most of their contracted hours at work (approximately 70% or more) working directly with children
  </div>
  <p id="declaration-B-error" class="govuk-error-message" style="display: none;">
    <span class="govuk-visually-hidden">Error:</span> You must select an option below to continue
  </p>

  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="declaration-B-yes" name="declarationB" type="radio" value="yes">
      <label class="govuk-label govuk-radios__label" for="declaration-B-yes">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="declaration-B-no" name="declarationB" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="declaration-B-no">
        No
      </label>
    </div>
  </div>
  
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What does working directly with children involve?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Working directly with children can involve any of the following:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>working in the room (for example this can include playrooms, baserooms or classrooms)</li>
      <li>guiding children in their learning</li>
      <li>supporting children with their learning and development</li>
      <li>interacting with children</li>
      <li>giving hands-on care, like with health and hygiene</li>
      </ul>
  </div>
</details>

  <p><a href="/unhappy-path">I cannot confirm this information</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      </form>

    </div>
  </div>

  

  <script>
    function validateForm() {
      var radios = document.getElementsByName('declarationB');
      var formValid = false;

      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          formValid = true;
          break;
        }
      }

      if (!formValid) {
        document.getElementById('declaration-B-error').style.display = 'block';
        document.getElementById('checkbox-group').classList.add('govuk-form-group--error');
        return false;
      }

      return true;
    }

  </script>

{% endblock %}
