{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form class="form" action="/current-school" method="post" onsubmit="return validateForm()">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <div class="govuk-form-group" id="checkbox-group">
          <fieldset class="govuk-fieldset" aria-describedby="consent-error">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Has your employee given you written consent to share their personal information?
              </h1>
            </legend>
            <div id="consent-hint" class="govuk-hint">
             Before continuing, you must confirm that your employee has consented to you sharing their personal information with us.
            </div>
            <p id="consent-error" class="govuk-error-message" style="display: none;">
              <span class="govuk-visually-hidden">Error:</span> You must be able to confirm this information to continue
            </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="consent" name="consentGiven" type="checkbox" value="confirmed">
                <label class="govuk-label govuk-checkboxes__label" for="consent">
                  I confirm
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      </form>

    </div>
  </div>

  <script>
    function validateForm() {
      var checkBox = document.getElementById("consent");
      var errorParagraph = document.getElementById("consent-error");
      if (!checkBox.checked) {
        errorParagraph.style.display = "block";
        document.getElementById("checkbox-group").classList.add("govuk-form-group--error");
        return false;
      }
      return true;
    }
  </script>

{% endblock %}
