{% extends "layouts/main.html" %}

{% block pageTitle %}
  Mainstream guide example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Education, training and skills",
        href: "#"
      },
      {
        text: "Teaching and leadership",
        href: "#"
      },
      {
        text: "Recruiting, inducting and managing teachers",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#">
                Overview
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              How it works
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                How money is allocated
              </a>
            </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Nursery eligibility
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Practitioner eligibility
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Apprenticeships
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                How practitioners are paid
              </a>
            </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Tax and deductions
              </a>
            </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                If the employee leaves before they've been in the role for 6 months
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-m">
        Overview
      </h2>
      
      <p>This scheme enables you to receive a number of £1000 payments to attach to job adverts to recruit practitioners. These can be used to recruit for part and full-time roles.</p>
      <p>The aim is to support nurseries with recruitment and increase the number of permanent practitioners in the early years sector.</p>

      <h2 class="govuk-heading-m">
        How it works
      </h2>
      
      <p>Your local authority will have a set number of financial incentives that you and other nurseries in your local authority can use to recruit staff.</p>
      <p>After you’ve recruited a new employee, you need to start a claim on their behalf on a digital service. The employee will then receive an email inviting them to complete the claim.</p>
      <p>The employee will receive the £1000 payment after they’ve been in their role for 6 months.</p>

        <h2 class="govuk-heading-m">
        How money is allocated
      </h2>
      
      <p>Your local authority will have a set number of £1000 payments to allocate to nurseries in the area. You will need to apply for payments from your local authority based on your need.</p>
      <p>Payments will be allocated to nurseries in the order they are requested (on a first come, first served basis).</p>

      <h2 class="govuk-heading-m">
        Nursery eligibility
      </h2>

      <p class="govuk-body">Your nursery is eligible if:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>it's in [named local authority areas]</li>
      <li>you have been contacted and told the nursery is eligible to receive payments</li>
      <li>it offers free childcare entitlements</li>
      </ul>

      <h2 class="govuk-heading-m">
        Practitioner eligibility
      </h2>

      <p class="govuk-body">Applicants who are new or returning to early years are eligible if:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>they have not worked in a permanent role in a nursery in the 6 months before starting their new role, where they spent most of their time (70% or more) working directly with children</li>
      <li>the role they’ve applied for is a permanent contract (this applies to part and full-time roles)</li>
      <li>they’ll spend most of the time  (70% or more) in their role working directly with children</li>
      </ul>

      <p>Applicants do not need to have had any early years training or worked in a nursery before.</p>

            <p class="govuk-body">You cannot offer the incentive to anyone who:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>has worked in a permanent role in a nursery in the last 6 months</li>
      <li>will not be spending most of their time (70% or more) working directly with children in their new role</li>
      </ul>

      <h3 class="govuk-heading-s">Working directly with children</h3>



      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Additional payments for teaching: eligibility and payment details
              </a>
            </li>
            <li>
              <a href="#">
                Early-career payments for teachers
              </a>
            </li>
            <li>
              <a href="#">
                Golden Hello reimbursement: guidance for local authorities and academies
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
