{% extends "layouts/main.html" %}

{% block pageTitle %}
Early years incentive payment guidance
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Education, training and skills",
        href: "#"
      },
      {
        text: "Teaching and leadership",
        href: "#"
      },
      {
        text: "Recruiting, inducting and managing teachers",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}: guidance for providers
      </h1>

      <p>This scheme enables nurseries in some local authority areas to offer £1000 payments to recruit permanent practitioners.</p>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#">
                Overview
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#">
                Local authorities participating in this scheme
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#">
              How it works
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                How money is allocated
              </a>
            </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Nursery eligibility
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Practitioner eligibility
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Apprenticeships
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                How practitioners are paid
              </a>
            </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Tax and deductions
              </a>
            </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                If the employee leaves before they've been in the role for 6 months
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <div style="background-color: #f3f2f1; padding: 40px; padding-bottom: 20px;">
        <h2 class="govuk-heading-m">Apply to claim a payment</h2>
        <p class="govuk-body">
          Apply to claim an early years financial incentive payment. You need to apply before 31 March 2025.
        </p>
        <a href="/landing-page" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Apply now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>

      <br>


      <h1 class="govuk-heading-l">
        Overview
      </h1>
      
      <p>This scheme enables nurseries to receive a number of £1000 payments to attach to job adverts to recruit permanent practitioners. These can be used to recruit for part and full-time roles.</p>
      <p>The aim is to support nurseries with recruitment and increase the number of new permanent practitioners in the early years workforce.</p>
      <p>The scheme runs from 25 November 2024 to 15 March 2025.</p>

      <h1 class="govuk-heading-l">
        Local authorities participating in this scheme
      </h1>

      <p class="govuk-body">You can only participate in this scheme if your nursery is in one of these local authorities:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>Barking and Dagenham</li>
      <li>Coventry</li>
      <li>Gateshead</li>
      <li>Redcar and Cleveland</li>
      <li>Telford and Wrekin</li>
      <li>Thurrock</li>
      </ul>

      <p class="govuk-body">These local authorities were chosen because they have:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>high levels of deprivation</li>
      <li>low sufficiency levels (the number of available nursery places compared to the number of children who need a nursery place)</li>
      </ul>
      
      <h1 class="govuk-heading-l">
        How it works
      </h1>
      
      <p class="govuk-body">From 25 November 2024 to 15 March 2025, nurseries in participating local authorities can use financial incentives to recruit staff. They can either be:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>new to the sector</li>
      <li>returning after a break of at least 6 months</li>
      <li>moving from a temporary to permanent contract</li>
      </ul>   
      
      <p>After you’ve recruited an eligible new employee, you need to start a claim on their behalf on a digital service. The employee will then receive an email inviting them to complete the claim.</p>
      <p>After 6 months you’ll be asked to confirm that they are still in their role. If they are, they will then receive the £1000 payment.</p>

        <h1 class="govuk-heading-l">
        How money is allocated
      </h1>
      
      <p>The Department for Education has allocated funding to enable you to request a number of £1000 payments to use to recruit staff.</p>
      <p>Payments will be allocated to nurseries in the order they are requested (on a first come, first served basis). We’ll email participating nurseries when the number of allocations are running low.</p>
      <p>You will receive a link via email when the service opens which you can use to request allocations.</p>

      <h1 class="govuk-heading-l">
        Nursery eligibility
      </h1>

      <p class="govuk-body">Your nursery is eligible if:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>it's in a participating local authority</li>
      <li>you have been contacted by the Department for Education and told you're eligible to offer payments</li>
      <li>you’re currently implementing the early years foundation stage (but are not running a reception class or childminding setting)</li>
      </ul>

      <h1 class="govuk-heading-l">
        Practitioner eligibility
      </h1>

      <p class="govuk-body">Applicants who are new or returning to early years are eligible if:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>they have not worked in a permanent role in a nursery in the 6 months before starting their new role, where they spent most of their time (70% or more) working directly with children</li>
      <li>the role they’ve applied for is a permanent contract (this applies to part and full-time roles)</li>
      <li>they’ll spend most of the time  (70% or more) in their role working directly with children</li>
      </ul>

      <p>Applicants do not need to have any early years qualifications or have worked in a nursery before.</p>

            <p class="govuk-body">You cannot offer the incentive to anyone who:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>has worked in a permanent role in a nursery in the last 6 months</li>
      <li>will not be spending most of their time (70% or more) working directly with children in their new role</li>
      </ul>

      <h2 class="govuk-heading-m">Working directly with children</h2>

      <p class="govuk-body">Working directly with children can involve any of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>working in the room with children — this can include playrooms, base rooms and classrooms</li>
      <li>guiding, supporting and interacting with children in their learning and development</li>
      <li>giving hands-on care, including health and hygiene</li>
      </ul>

      <p>70% or more time applies to all part and full-time roles. The employee does not need to work a minimum number of contracted hours to be eligible.</p>

      <h1 class="govuk-heading-l">
        Apprenticeships
      </h1>

      <p>Apprentices cannot receive a payment, even if they’re on a permanent contract during their apprenticeship.</p>
      <p>Apprentices can receive a payment when they move from being an apprentice to an employee. To do this, they must have passed their apprenticeship and been taken on in a permanent role.</p>

            <h1 class="govuk-heading-l">
        How practitioners are paid
      </h1>

     <p>The Department for Education will pay the money directly into the employee’s bank account. This will happen after they have been in the role for 6 months.</p>

        <h1 class="govuk-heading-l">
        Tax and deductions
      </h1>

      <p>The Department for Education will pay the employee’s Income Tax and National Insurance contributions.</p>
      <p>There may be other deductions based on the employee’s circumstances. For example, if they’re making student loan repayments. This could reduce the final amount of the incentive below £1000.</p>

      <h2 class="govuk-heading-m">Universal Credit</h2>

      <p>If the employee claims Universal Credit, the £1000 payment may affect the amount of Universal Credit they receive.</p>
      <p>Read more about <a href="https://www.gov.uk/guidance/universal-credit-and-earnings">how changes to earnings can affect Universal Credit</a>.</p>
      
      <h2 class="govuk-heading-m">Student loan</h2>

      <p>The £1000 payment will not be affected by any funding they have previously received to study for a college course or apprenticeship.</p>
      <p>If they have previously studied at university and have a student loan, their £1000 payment may affect their repayments.</p>

      <h2 class="govuk-heading-m">If they’re currently repaying a student loan</h2>

      <p>If they’re currently repaying a student loan, a deduction towards it may come out of their £1000 payment.</p>

      <h2 class="govuk-heading-m">If they have a student loan but are not currently repaying it</h2>

      <p>If their payment takes them over the amount they must earn to start paying back a student loan, a deduction may go towards repaying it.</p>
      <p>Read more about <a href="https://www.gov.uk/repaying-your-student-loan/when-you-start-repaying">when they'll start paying back a student loan</a> and <a href="https://www.gov.uk/repaying-your-student-loan/what-you-pay">what they'll pay</a>.</p>
      <p>They may be able to claim any deductions back at the end of the tax year. Read more about how employees can <a href="https://www.gov.uk/repaying-your-student-loan/getting-a-refund">claim back student loan deductions</a>.</p>

      <h1 class="govuk-heading-l">
        If the employee leaves before they’ve been in the role for 6 months
      </h1>

      <p>You need to tell us by email if your employee leaves your nursery before they have completed 6 months. You can do this by contacting us at opsteam@education.gov.uk.</p>
      <p>The employee must complete 6 months in their role to receive the payment. We'll contact you by email before that point to check your employee is still working in their role.</p>
    
      


      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

     

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Additional payments for teaching: eligibility and payment details
              </a>
            </li>
            <li>
              <a href="#">
                Early-career payments for teachers
              </a>
            </li>
            <li>
              <a href="#">
                Golden Hello reimbursement: guidance for local authorities and academies
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
