{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Claim an early years financial incentive payment</h1>
          <div class="govuk-inset-text">
            This index page links to prototypes related the Claim an early years financial incentive payment service.
            <br>
            <br>
            <a href="/start">Read more</a>about how early years financial incentive payments work.
          </div>
             <h1 class="govuk-heading-m">Provider journey</h1>
               <p>
                <a href="/current-school" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                  Start now
                  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                  </svg>
                </a>
              </p>
              <br>
              <hr>
              <br>
              <h1 class="govuk-heading-m">Jump to screens</h1>
                  <p> <a href="/current-school">
                    1. Where do you work? </a></p>
                  <p> <a href="/claimant-name">
                  2. Who are you making this claim for? </a></p>
                  <p> <a href="/start-date">
                    3. What was their start date? </a></p>
                    <p> <a href="/ineligible-start-date">
                      4. Ineligibile start date </a></p>
                      <p> <a href="/child-facing-A">
                        5. Confirmation that their role 70% working directly with children? </a></p>
                        <p> <a href="/child-facing-B">
                          6. Confirmation that their role 70% child-facing? </a></p>
                          <p> <a href="/returner-A">
                            7. Confirmation that they haven't worked in EY in the past 6 months </a></p>
                            <p> <a href="/returner-B">
                              8. Have they worked in EY in the past 6 months?</a></p>
                              <p> <a href="/ineligible-returner-B">
                                9. Ineligible due to returner policy </a></p>
                                <p> <a href="/employee-email">
                                  10. What is your employee's email address? </a></p>
                                  <p> <a href="/employee-nino">
                                    11. What is your employee's National Insurance number? </a></p>
                                    <p> <a href="/check-answers">
                                      12. Check your answers </a></p>
                                      <p> <a href="/confirmation">
                                        13. Claim submitted </a></p>
          
      </div>
    </div>
  </main>
</div>

{% endblock %}
