{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/returner-B" method="post">
      <h1 class="govuk-heading-l">
        You must be able to confirm this information before you can continue
      </h1>

      <p>
        To continue with this claim you must be able to confirm that:

        <ul class="govuk-list govuk-list--bullet">
          <li>this role is at least 70% child-facing</li>
          <li>your employee did not work in any early years roles in the 6 months before starting their current role</li>
        </ul>
      </p>

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

      {{ govukButton({
        text: "Start again"
      }) }}

    </div>
  </form>
  </div>

{% endblock %}
