{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="employee-nino-group" class="govuk-form-group">

      <h1 class="govuk-label-wrapper">
      <span class="govuk-caption-l">Employee details</span>
      <label class="govuk-label govuk-label--l" for="employee-nino">
        What is {{ data['nurseryName'] }}'s employer PAYE reference?
      </label>
    </h1>
    <div id="employee-nino-hint" class="govuk-hint">
      This is a 3 digit tax office number, a forward slash, and a tax office employer reference, like 123/AB456. It may be called ‘Employer PAYE reference’ or ‘PAYE reference’. It will be on your P60.
    </div>

      <form class="form" action="/check-answers" method="post" onsubmit="return validateForm();">

        <p>
          <div class="govuk-form-group">
            <p id="employee-nino-error" class="govuk-error-message" style="display: none;">
              <span class="govuk-visually-hidden">Error:</span> Enter a valid National Insurance number
            </p>
            <input class="govuk-input govuk-input--width-10" id="employee-nino" name="employeeNino" type="text">
          </div>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <script>
    function validateForm() {
      var nurseryName = document.getElementById("employee-nino").value;
      if (nurseryName.trim() === "") {
        document.getElementById("employee-nino-group").classList.add("govuk-form-group--error");
        document.getElementById("employee-nino-error").style.display = "block";
        return false;
      }
      return true;
    }
  </script>

{% endblock %}
