{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form class="form" method="post" onsubmit="return validateForm()">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="checkbox-group">
        <fieldset class="govuk-fieldset" aria-describedby="returner-three-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select the contract type for {{ data['firstName'] }}'s previous role in an early years setting
            </h1>
          </legend>
  <p id="returner-four-error" class="govuk-error-message" style="display: none;">
    <span class="govuk-visually-hidden">Error:</span> You must select an option below to continue
  </p>
  <br>
  <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="returner-four-yes" name="returnerFour" type="radio" value="permanent">
      <label class="govuk-label govuk-radios__label" for="returner-four-yes">
        permanent
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="returner-four-no" name="returnerFour" type="radio" value="casual or temporary">
      <label class="govuk-label govuk-radios__label" for="returner-four-no">
        casual or temporary
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="returner-four-no" name="returnerFour" type="radio" value="voluntary or unpaid">
      <label class="govuk-label govuk-radios__label" for="returner-four-no">
        voluntary or unpaid
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="returner-four-no" name="returnerFour" type="radio" value="agency work and apprenticeship jobs">
      <label class="govuk-label govuk-radios__label" for="returner-four-no">
        agency work and apprenticeship roles
      </label>
    </div>
    </div>
</div>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What does casual or temporary work include?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">Casual or temporary work could include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>zero-hour contracts</li>
          <li>guaranteed minimum hour contracts</li>
          <li>self-employed or freelance contracts</li>
          <li>fixed term contracts (FTCs)</li>
          <li>agency work and apprenticeship roles</li>
          </ul>
              </div>
  </details>
  


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      </form>

    </div>
  </div>

  

  <script>
    function validateForm() {
      var radios = document.getElementsByName('returnerFour');
      var formValid = false;

      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          formValid = true;
          break;
        }
      }

      if (!formValid) {
        document.getElementById('returner-four-error').style.display = 'block';
        document.getElementById('checkbox-group').classList.add('govuk-form-group--error');
        return false;
      }

      return true;
    }

  </script>

{% endblock %}
