{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}
<form class="form" action="/employee-email" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="returner-A">
        I confirm that {{ data['firstName'] }} didn't work in any childcare roles between <span id="sixMonthsBeforeDate"></span> and <span id="oneDayBeforeStartDate"></span>?
      </label>
    </h1>
    <div id="returner-A-hint" class="govuk-hint">
      {{ data['firstName'] }} must not have worked in any childcare role in the 6 months before their current role to be eligible for an incentive payment.
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="declaration-returner-A" name="declarationreturnerA" type="checkbox" value="confirmed">
          <label class="govuk-label govuk-checkboxes__label" for="declaration-returner-A">
            I confirm
          </label>
        </div>
      </fieldset>
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I cannot confirm this information
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3>You must be able to confirm this information before you can continue</h3>
    <p class="govuk-body">To continue with this claim you must be able to confirm that:</p>
<ul class="govuk-list govuk-list--bullet">
<li>this role is at least 70% child-facing</li>
<li>your employee did not work in any early years roles in the 6 months before starting their current role</li>
</ul>
<br>
If you think you've made a mistake, you should check the information you've provided and start again.
<br>
        <h3>Get help with your claim</h3>
      <p>
        Contact us for help at <a class="help@opsteam.gov.uk" href="#">help@opsteam.education.gov.uk</a>.
      </p>
      </div>
    </details>

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
  </div>
</div>

<script>
  // Retrieve start date and 6 months before date from session storage
  const startDateString = sessionStorage.getItem('startDate');
  if (startDateString) {
      const startDate = new Date(startDateString);

      // Calculate 6 months before start date
      const sixMonthsBeforeDate = new Date(startDate);
      sixMonthsBeforeDate.setMonth(sixMonthsBeforeDate.getMonth() - 6);

      // Calculate one day before start date
      const oneDayBeforeStartDate = new Date(startDate.getTime() - (1 * 24 * 60 * 60 * 1000));

      // Format the dates
      const options = { day: 'numeric', month: 'long', year: 'numeric' };
      const formattedSixMonthsBeforeDate = sixMonthsBeforeDate.toLocaleDateString('en-GB', options);
      const formattedOneDayBeforeStartDate = oneDayBeforeStartDate.toLocaleDateString('en-GB', options);

      // Update the HTML with formatted dates
      document.getElementById('sixMonthsBeforeDate').innerText = formattedSixMonthsBeforeDate;
      document.getElementById('oneDayBeforeStartDate').innerText = formattedOneDayBeforeStartDate;
  } else {
      // Handle case where dates are not available
      console.error('Dates are not available');
  }
</script>

{% endblock %}
