{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>


{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        What is the early years financial incentive?
      </h2>

      <p>The early years financial incentive is a new scheme to support nurseries with hiring for new practitioner roles.</p>

        <p>It will enable some nurseries to advertise jobs with a £1000 sign-on bonus attached.</p>
      
        <h2 class="govuk-heading-m">
          How will it work?
        </h2>

      <p>The scheme will apply to nurseries with specific challenges recruiting new staff in particular local authority areas.

        Nurseries will receive a set number of incentives from their local authority to attach to roles they're recruiting for.
        
        When a practitioner has been recruited for a role with an incentive attached, the nursery will use a digital service to submit a claim for the £1000 payment on their behalf. 
        
        When the nursery has submitted the claim, the practitioner will receive an email asking them to add their payment details.
        
        The practitioner will then receive the one-off £1000 payment after they have been in the role for 6 months. This will be paid by the Department for Education.</p>

        <h2 class="govuk-heading-m">
          Which roles will it apply to?
        </h2>

      <p>
        The incentive will only apply to roles that are at least 70% child-facing.
      </p>

      <h2 class="govuk-heading-m">
        Who will receive the payment?
      </h2>

      <p>
        People who are new to working in childcare or are returning to the profession can receive the £1000 payment. To receive the £1000 payment, practitioners must:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have applied for a role with an incentive attached</li>
        <li>not have worked in childcare in the six months before starting the role</li>
        <li>have started the role and worked in it for 6 months</li>
        </ul>


    </div>

  
  </div>

{% endblock %}
